<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mobi.myeseries.test"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <instrumentation android:name="pl.polidea.instrumentation.PolideaInstrumentationTestRunner"
                         android:targetPackage="mobi.myseries"
                         android:label="Tests for mobi.myseries"/>
    <!--
    <instrumentation android:targetPackage="mobi.myseries" android:name="android.test.InstrumentationTestRunner" />
    -->
    <application android:icon="@drawable/icon" android:label="@string/app_name">

    <uses-library android:name="android.test.runner" />
    </application>
</manifest>
