<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.myseries"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.App"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar.ForceOverflow">

        <activity
            android:label="@string/app_name"
            android:name=".gui.myseries.MySeriesActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.myschedule.MyScheduleActivity">
        </activity>
        <activity
            android:name=".gui.seriessearch.SeriesSearchActivity">
        </activity>
        <activity
            android:name=".gui.series.SeriesActivity">
        </activity>
        <activity
            android:name=".gui.episodes.EpisodeDetailsActivity">
        </activity>

        <receiver
            android:name=".gui.appwidget.MySeriesWidget"
            android:label="@string/large_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recent_episodes_appwidget_info_4x4" />
        </receiver>
        <receiver
            android:name=".gui.appwidget.MySeriesMediumWidget"
            android:label="@string/med_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recent_episodes_appwidget_info_4x2" />
        </receiver>
        <receiver
            android:name=".gui.appwidget.MySeriesSmallWidget"
            android:label="@string/small_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recent_episodes_appwidget_info_4x1" />
        </receiver>

        <service android:name=".gui.appwidget.MySeriesWidget$UpdateService" />
        <service android:name=".gui.appwidget.MySeriesSmallWidget$UpdateServiceSmall" />
        <service android:name=".gui.appwidget.MySeriesMediumWidget$UpdateServiceMedium" />
    </application>

</manifest>