<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.myseries"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app"
        android:name=".application.App"
        android:theme="@style/MySeriesTheme">

        <activity
            android:label="@string/my_series"
            android:name=".gui.myseries.MySeriesActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.myschedule.MyScheduleActivity">
        </activity>
        <activity
            android:name=".gui.seriessearch.SeriesSearchActivity">
        </activity>
        <activity
            android:name=".gui.series.SeriesActivity">
        </activity>
        <activity
            android:name=".gui.episodes.EpisodesActivity">
        </activity>

        <!-- Old AppWidgets -->

        <receiver
            android:name=".gui.appwidget.MyScheduleWidgetProviderLarge"
            android:label="@string/appwidget_myschedule_old_large"
            android:enabled="@bool/oldWidgetsEnabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_myschedule_old_large_info" />
        </receiver>

        <receiver
            android:name=".gui.appwidget.MyScheduleWidgetProviderMedium"
            android:label="@string/appwidget_myschedule_old_medium"
            android:enabled="@bool/oldWidgetsEnabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_myschedule_old_medium_info" />
        </receiver>

        <receiver
            android:name=".gui.appwidget.MyScheduleWidgetProviderSmall"
            android:label="@string/appwidget_myschedule_old_small"
            android:enabled="@bool/oldWidgetsEnabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_myschedule_old_small_info" />
        </receiver>

        <service android:name="mobi.myseries.gui.appwidget.MyScheduleWidgetServiceLarge"/>
        <service android:name="mobi.myseries.gui.appwidget.MyScheduleWidgetServiceSmall" />
        <service android:name="mobi.myseries.gui.appwidget.MyScheduleWidgetServiceMedium" />

        <!-- New AppWidgets -->

        <receiver
            android:name="mobi.myseries.gui.appwidget.MyScheduleWidgetProvider"
            android:label="@string/appwidget_myschedule"
            android:enabled="@bool/newWidgetsEnabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="mobi.myseries.gui.appwidget.REFRESH"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_myschedule_info"/>
        </receiver>

        <service
            android:name="mobi.myseries.gui.appwidget.MyScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <activity
            android:name="mobi.myseries.gui.appwidget.MyScheduleWidgetPreferenceActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>